.idea
**/logs
*.pid
*.jar
*.iml
**/target
**/temp/**
/build/

.settings
.classpath
.project
*.*~
*.log
!.mvn/wrapper/maven-wrapper.jar
log
node_modules/
*.tsbuildinfo
src/main/frontend/build
src/main/resources/templates
